<!-- Footer -->
<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a><a href="https://github.com/login" target="_blank"><i class="fa fa-github"></i></a><a href="https://twitter.com/login?lang=it" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="BaseServlet">Homepage</a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a href="RedirectRichiestaAssistenzaServlet">Assistenza clienti</a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a href="RedirectChiSiamo">Chi siamo</a></li>
        </ul>
        <p class="copyright">Glitch © 2019</p>
    </footer>
</div>


</body>
</html>